
resource_group_name = "rg-fortigate_ap_sdn"
tags = {
  ResourceOwner      = "John Smith"
  Username           = "jsmith"
  environment        = "dev"
}
username                = "username"
password                = "password"
fortigate_1_license_token = ""
fortigate_2_license_token = ""
fortigate_1_license_file  = ""
fortigate_2_license_file  = ""